body {
    background-color: #f8f6f0;
}

.flexcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} 

svg *{
    fill-opacity: 0;
}

@media (orientation:portrait) {
    .mainPct {
        width: 98%;
    }

    .flexcontainer {
        margin-left: -10px;
    } 
  }

@media (orientation:landscape) {
    .mainPct {
        height: 98%;
    }
  }